spring:
  application:
    name: discodeit
  profiles:
    active: dev
  boot:
    admin:
      client:
        instance:
          name: discodeit

    # 캐시 설정 - Redis로 변경
    cache:
      type: redis
      cache-names:
        - userChannels
        - userNotifications
        - users
      redis:
        enable-statistics: true

    # Redis 연결 설정 추가
    data:
      redis:
        host: ${REDIS_HOST:localhost}
        port: ${REDIS_PORT:6379}

  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 30MB

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
    com.sprint.mission.discodeit: info
    org.springframework.security: DEBUG
    org.springframework.security.web.FilterChainProxy: DEBUG
    org.springframework.security.config.annotation.web.builders.HttpSecurity: DEBUG
    org.springframework.security.web.access.intercept.FilterSecurityInterceptor: DEBUG
    org.springframework.security.access.prepost.PreAuthorizeAuthorizationManager: DEBUG
    org.springframework.cache: DEBUG

discodeit:
  storage:
    type: ${STORAGE_TYPE:local}  # local | s3 (기본값: local)
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:.discodeit/storage}
    s3:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
      region: ${AWS_S3_REGION}
      bucket: ${AWS_S3_BUCKET}
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600} # 기본값: 10분

jwt:
  secret: ${JWT_SECRET:myVerySecureSecretKeyForJWTTokenGenerationThatShouldBeVeryLongAndSecure}
  expiration-minutes: 60      # 액세스 토큰 만료 시간 (분)
  refresh-expiration-days: 7  # 리프레시 토큰 만료 시간 (일)

management:
  endpoints:
    web:
      exposure:
        include: health, info, caches, metrics, prometheus
      base-path: /actuator
  endpoint:
    health:
      show-details: always